---
import { Image } from 'astro:assets'
import { transformTitleParam } from '@/utils'
import type { Course } from '@/types/Course'

const response = await fetch('http://localhost:4321/api/courses')
const data = await response.json()
const courseList = (data.data as Course[]).slice(0, 4)
---

<ul
  id="#courses"
  class="mt-10 grid grid-cols-1 gap-5 py-5 md:grid-cols-2 lg:grid-cols-4"
>
  {
    courseList.map(({ title, price, description, teacherName }) => (
      <li>
        <a
          href={`/course/${transformTitleParam(title)}`}
          class="flex cursor-pointer flex-col items-center justify-center rounded-md border border-gray-100 bg-white transition-colors duration-300 hover:drop-shadow-lg"
        >
          <div class="relative">
            <Image
              src="/img/courses/ultimas-novedades-javascript.webp"
              class="aspect-video w-full rounded-t-md"
              alt="preview-course"
              width="400"
              height="400"
              style={`view-transition-name: course-${transformTitleParam(title)}`}
            />
          </div>

          <div class="w-full p-2.5">
            <h1 class="text-lg font-bold">{title}</h1>
            <p class="text-gray-50/20">{description}</p>
            <div>{teacherName}</div>
            <span>S/. {price}</span>
          </div>
        </a>
      </li>
    ))
  }
</ul>
