---
import Layout from '@/layouts/Layout.astro'
import type { Course } from '@/types/Course'

const { courseName } = Astro.params
const response = await fetch(
  `${import.meta.env.API_URL}/course/find-by-title/${courseName}`
)
const course = (await response.json()) as Course

const { title, description, teacherName, price, durationHours } = course

// src="https://www.shutterstock.com/image-photo/elearning-education-internet-lessons-online-600nw-2158034833.jpg"
---

<Layout title={`Course - ${courseName?.replace(/-/g, ' ')}`}>
  <main class="mx-auto grid max-w-7xl gap-6 pt-28 lg:grid-cols-[1fr_330px]">
    <div class="col-[1/2] row-[1/2] flex px-4 lg:col-[1/3]">
      <a href="/" class="transition-colors hover:underline">Inicio</a>
    </div>

    <div class="relative col-[1/2] row-[2/3] px-4">
      <img
        class="aspect-video rounded-[16px]"
        width="1920"
        height="1080"
        src="/img/courses/ultimas-novedades-javascript.webp"
        alt={`video presentaion course ${courseName}`}
        style={`view-transition-name: course-${courseName}`}
      />
    </div>

    <div class="col-[1/2] row-[3/4] px-4">
      <h1 class="text-2xl font-bold sm:text-3xl md:text-4xl">{title}</h1>
      <div class="mt-6">
        <h2 class="text-lg font-bold md:text-xl">{description}</h2>
        <p>{description}</p>
      </div>
    </div>

    <div class="col-[1/2] row-[5/5] px-4">
      <div>
        <h2 class="text-lg md:text-lg">Stack</h2>
        <ul>
          <li>JavaScript</li>
        </ul>
      </div>
      <div class="mt-6 rounded-2xl border p-5">
        <h2 class="text-lg font-bold md:text-xl">Lo que aprenderas</h2>
        <ul class="mt-4 grid grid-cols-1 gap-x-14 gap-y-5 md:grid-cols-2">
          <li>Noveades de promesas</li>
          <li>Mejora la legibilidad de codigo</li>
        </ul>
      </div>
      <div class="mt-6 flex flex-col gap-2.5">
        <h2 class="text-lg font-bold md:text-xl">Contenido del curso</h2>
        <div class="flex flex-wrap items-center gap-2 text-sm">
          <span>{durationHours}</span>
        </div>
      </div>
    </div>

    <div class="col-[1/2] row-[4/5] lg:col-[2/3] lg:row-[2/6] lg:pr-4">
      <section class="flex flex-col gap-4 rounded-3xl border p-5">
        <h3 class="text-lg font-bold md:text-xl">El curso incluye</h3>
        <ul class="flex flex-col gap-4">
          <li class="flex items-center justify-between">
            <p class="flex flex-1 items-center gap-2">Horas de video:</p>
            <span>{durationHours}</span>
          </li>
          <li class="flex items-center justify-between">
            <p class="flex flex-1 items-center gap-2">Lenguaje:</p>
            <span>Español</span>
          </li>
        </ul>
        <span>Price: {price}$</span>

        <button
          class="w-full rounded-md border border-gray-200/90 bg-blue-500 px-4 py-2.5 text-white transition-transform duration-300 hover:scale-105"
        >
          Comprar
        </button>
      </section>
      <section class="mt-8 flex flex-col gap-4">
        <h3 class="text-lg font-bold md:text-xl">Docente</h3>
        <header class="flex gap-3">
          <div>
            <h4>{teacherName}</h4>
            <p>Creador de contendio</p>
          </div>
        </header>
        <p>
          Programación JavaScript y Desarrollo Web. Reconocido Google Developer
          Expert, Microsoft.
        </p>
      </section>
    </div>
  </main>
</Layout>
